In [1]:
tup=(1,2,3,4,5);
print(tup);
tup=();
print(tup);
tup=(1,2,3,(5,6,7),8,9,{2,3,4});
print(tup);

(1, 2, 3, 4, 5)
()
(1, 2, 3, (5, 6, 7), 8, 9, {2, 3, 4})

In [3]:
tuple_=1,2,"sathish",[5,6];  #without paranthesis of tuple
print(tuple_);
print(type(tuple_));
try:
    tuple_[9]="hai";
except:
    print(TypeError);

(1, 2, 'sathish', [5, 6])
<class 'tuple'>
<class 'TypeError'>

In [5]:
st=("tuple");
print(st,type(st));
st=("tuple",);                    #one element tuple;
print(st,type(st));
st="tuple",;                      #one elemenet tuple without paranthesis
print(st,type(st));

tuple <class 'str'>
('tuple',) <class 'tuple'>
('tuple',) <class 'tuple'>

In [7]:
tuple_=["python","tuple","list","collector"];
print(tuple_[0]);
print(tuple_[1]);
try:
    print(tuple_[5])
except Exception as e:
    print(e);
try:
    print(tuple_[1.0])
except Exception as e:
    print(e);

python
tuple
list index out of range
list indices must be integers or slices, not float

In [9]:
tuple_=["tuple",[1,2,3],{"hai","bye"}];
print(tuple_[0][2]);
print(tuple_[2]);

p
{'hai', 'bye'}

In [11]:
tuple_=["java","python","c","c++","DBMS"];
print(tuple_[:]);
print(tuple_[::-1]);
print(tuple_[-4:]);
print(tuple_[-5:-1]);
print(tuple_[-5:-1:-2]);
print(tuple_[::-2]);
print(tuple_[-5::-2]);
print(tuple_[-1:-5:-2]);

['java', 'python', 'c', 'c++', 'DBMS']
['DBMS', 'c++', 'c', 'python', 'java']
['python', 'c', 'c++', 'DBMS']
['java', 'python', 'c', 'c++']
[]
['DBMS', 'c', 'java']
['java']
['DBMS', 'c']

In [15]:
tuple_=[1,2,3,4,5,6,7,8];
try:
    del tuple_;
    print(tuple_);
except Exception as e:
    print(e);

name 'tuple_' is not defined

In [17]:
tuple_=[1,2,3];
try:
    print(tuple_*3);
    print(tuple*1.2);
except Exception as e:
    print(e);

[1, 2, 3, 1, 2, 3, 1, 2, 3]
unsupported operand type(s) for *: 'type' and 'float'

In [19]:
t1=(1,2,2,3,4,2,6,21,1,3,2,5,6,6,4);
print(t1.count(4));
print(t1.count(2));
print(t1.count(21));
print(t1.count(90.0));

2
4
1
0

In [21]:
t1=(1,2,2,3,4,2,6,21,1,3,2,5,6,6,4);
print(t1.index(2));
print(t1.index(6));
print(t1.index(2,6)); #index 2 after 6th index
print(t1.index(6,6)); #index 6 after 6th index but start from 6th
print(t1.index(2,3)); #index 2 after 3rd index

1
6
10
6
5

In [23]:
t1=("python","java","c++","javascript","html");
print("python" in t1 );
print("python " in t1);
print("java" not in t1);
print("HTML" not in t1);

True
False
False
True

In [25]:
t1=("python","java","c++","javascript","html");
for i in t1:
    print(i);
 
print("printing with index");   
for i in range(len(t1)):
    print(t1[i]);

python
java
c++
javascript
html
printing with index
python
java
c++
javascript
html

In [27]:
t1=("python","java","c++","javascript","html");
try:
    t1[2]="items";
except Exception as e:
    print(e);

'tuple' object does not support item assignment

In [29]:
try:
    t1[2:4]=["items","sathish"];
except Exception as e:
    print(e);

'tuple' object does not support item assignment

In [33]:
try:
    t1="items","sathish";
except Exception as e:
    print(e);
print(t1);

('items', 'sathish')

In [35]:
t1=("python","java","c++","javascript","html");
t1=t1+(1,2,3);
print(t1);
try:
    t1=t1*(1,2,3);
except Exception as e:
    print(e);

('python', 'java', 'c++', 'javascript', 'html', 1, 2, 3)
can't multiply sequence by non-int of type 'tuple'